.container {
  height: 90%;
  width: 90%;

  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
}

.details {
  margin-top: 20px;
  width: 80%;
  align-self: center;
  display: grid;
  grid-template-columns: auto 23% 23% auto;
  padding: 15px;
}

.details h1 {
  text-align: center;
}

.details input {
  height: 50%;
  margin: auto 30px;

  color: black;
  border-radius: 10px;
  font-size: 20px;
}

.details .add {
  grid-column-start: 4;
  width: 135px;
  padding: 8px;
  justify-self: center;
  margin-right: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

#info {
  display: none;
  margin-top: 5px;
  grid-column-start: 1;
  grid-column-end: 5;
}

button {

  border-radius: 7px;
  background: lightblue;
}

table {
  margin-top: 30px;
  align-self: center;
  width: 80%;
  background-color: lightgray;
}

th {
  background: black;
  color: lightblue;
}

table, th, td {
  border-bottom-color: black;
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
}

#addButton {
  width: 70px;
  margin-left: 78%;
}

#deleteButton {
  margin-top: 5px;
  width: 70px;
}

#updateButton {
  width: 70px;
}
